{% extends 'shared/layout.html' %}

{% block body %}
{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}

  <p>Введите логин и пароль</p>

  <div>
    <form action="{{ url_for('.authorization') }}" method=post>
      <input type="hidden" name="state" value="{{ state }}">
      <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
      <input type="hidden" name="response_type" value="{{ response_type }}">
      <input type="hidden" name="client_id" value="{{ client_id }}">
      <input type="hidden" name="scope" value="{{ scope }}">
      <div>
        <input type="text" name="login" placeholder="Логин">
      </div>
      <div>
        <input type="password" name="password" placeholder="Пароль">
      </div>
      <div>
        <button type="submit">
          Отправить
        </button>
      </div>
    </form>
  </div>

{% endblock %}
